<a href="https://colab.research.google.com/github/touhid0503/Heart_Disease_Diagnosis_Support_System/blob/main/HSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 18-01-26

#Import Libraries

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Dataset Reading

In [51]:
df=pd.read_csv("/content/heart_disease.csv")

In [52]:
df.head(10)

,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
0,56.0,Male,153.0,155.0,High,Yes,Yes,No,24.991591,Yes,...,No,High,Medium,7.633228,Medium,342.0,NaN,12.969246,12.387250,No
1,69.0,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,...,No,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,No
2,46.0,Male,126.0,216.0,Low,No,No,No,29.855447,No,...,Yes,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,...,Yes,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,...,No,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,No
5,25.0,Male,152.0,257.0,Low,Yes,No,No,28.144681,No,...,No,Low,Medium,5.504876,Low,126.0,91.0,4.297575,10.815983,No
6,78.0,Female,121.0,175.0,High,Yes,Yes,Yes,18.042332,No,...,No,Medium,Medium,9.240911,Medium,107.0,85.0,11.582983,19.659461,No
7,38.0,Female,161.0,187.0,Low,Yes,Yes,Yes,34.736683,No,...,No,Low,Medium,7.841008,High,228.0,111.0,4.929381,17.146599,No
8,56.0,Female,135.0,291.0,Low,No,Yes,Yes,34.493112,Yes,...,Yes,High,Low,6.941403,High,317.0,103.0,5.119015,6.051129,No
9,75.0,Male,144.0,252.0,Low,Yes,Yes,No,30.142149,No,...,Yes,Low,Medium,4.002662,High,199.0,96.0,10.005698,7.604357,No

#Checking Duplicates

In [53]:
df.duplicated().sum()

np.int64(0)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9971 non-null   float64
 1   Gender                9981 non-null   object
 2   Blood Pressure        9981 non-null   float64
 3   Cholesterol Level     9970 non-null   float64
 4   Exercise Habits       9975 non-null   object
 5   Smoking               9975 non-null   object
 6   Family Heart Disease  9979 non-null   object
 7   Diabetes              9970 non-null   object
 8   BMI                   9978 non-null   float64
 9   High Blood Pressure   9974 non-null   object
 10  Low HDL Cholesterol   9975 non-null   object
 11  High LDL Cholesterol  9974 non-null   object
 12  Alcohol Consumption   7414 non-null   object
 13  Stress Level          9978 non-null   object
 14  Sleep Hours           9975 non-null   float64
 15  Sugar Consumption     9970 non-null   object
 16  Triglyceride Level    9974 non-null   float64
 17  Fasting Blood Sugar   9978 non-null   float64
 18  CRP Level             9974 non-null   float64
 19  Homocysteine Level    9980 non-null   float64
 20  Heart Disease Status  10000 non-null  object
dtypes: float64(9), object(12)
memory usage: 1.6+ MB

#Null value check

In [55]:
df.isnull().sum()

Age                       29
Gender                    19
Blood Pressure            19
Cholesterol Level         30
Exercise Habits           25
Smoking                   25
Family Heart Disease      21
Diabetes                  30
BMI                       22
High Blood Pressure       26
Low HDL Cholesterol       25
High LDL Cholesterol      26
Alcohol Consumption     2586
Stress Level              22
Sleep Hours               25
Sugar Consumption         30
Triglyceride Level        26
Fasting Blood Sugar       22
CRP Level                 26
Homocysteine Level        20
Heart Disease Status       0
dtype: int64

#Handling missing values

In [56]:
numerical_cols_with_missing = df.select_dtypes(include=['float64']).columns
categorical_cols_with_missing = df.select_dtypes(include=['object']).columns

for col in numerical_cols_with_missing:
    if df[col].isnull().sum() > 0:
        median_val = df[col].median()
        df[col] = df[col].fillna(median_val)

for col in categorical_cols_with_missing:
    if df[col].isnull().sum() > 0:
        mode_val = df[col].mode()[0]
        df[col] = df[col].fillna(mode_val)

display(df.isnull().sum())

Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Exercise Habits         0
Smoking                 0
Family Heart Disease    0
Diabetes                0
BMI                     0
High Blood Pressure     0
Low HDL Cholesterol     0
High LDL Cholesterol    0
Alcohol Consumption     0
Stress Level            0
Sleep Hours             0
Sugar Consumption       0
Triglyceride Level      0
Fasting Blood Sugar     0
CRP Level               0
Homocysteine Level      0
Heart Disease Status    0
dtype: int64

In [57]:
df.shape

(10000, 21)

#Encoding

In [58]:
from sklearn.preprocessing import LabelEncoder

categorical_cols = df.select_dtypes(include=['object']).columns

binary_cols = []
multiclass_cols = []

for col in categorical_cols:
    if df[col].nunique() == 2:
        binary_cols.append(col)
    else:
        multiclass_cols.append(col)

print("Binary columns for Label Encoding:", binary_cols)
print("Multi-category columns for One-Hot Encoding:", multiclass_cols)

label_encoder = LabelEncoder()
for col in binary_cols:
    if col == 'Heart Disease Status':
        df[col] = df[col].map({'No': 0, 'Yes': 1})
    else:
        df[col] = label_encoder.fit_transform(df[col])
    print(f"Label encoded column: {col}")

df = pd.get_dummies(df, columns=multiclass_cols, drop_first=True)
print(f"\nOne-hot encoded columns: {multiclass_cols}")

display(df.head())

Binary columns for Label Encoding: ['Gender', 'Smoking', 'Family Heart Disease', 'Diabetes', 'High Blood Pressure', 'Low HDL Cholesterol', 'High LDL Cholesterol', 'Heart Disease Status']
Multi-category columns for One-Hot Encoding: ['Exercise Habits', 'Alcohol Consumption', 'Stress Level', 'Sugar Consumption']
Label encoded column: Gender
Label encoded column: Smoking
Label encoded column: Family Heart Disease
Label encoded column: Diabetes
Label encoded column: High Blood Pressure
Label encoded column: Low HDL Cholesterol
Label encoded column: High LDL Cholesterol
Label encoded column: Heart Disease Status

One-hot encoded columns: ['Exercise Habits', 'Alcohol Consumption', 'Stress Level', 'Sugar Consumption']

,Age,Gender,Blood Pressure,Cholesterol Level,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,Low HDL Cholesterol,...,Homocysteine Level,Heart Disease Status,Exercise Habits_Low,Exercise Habits_Medium,Alcohol Consumption_Low,Alcohol Consumption_Medium,Stress Level_Low,Stress Level_Medium,Sugar Consumption_Low,Sugar Consumption_Medium
0,56.0,1,153.0,155.0,1,1,0,24.991591,1,1,...,12.387250,0,False,False,False,False,False,True,False,True
1,69.0,0,146.0,286.0,0,1,1,25.221799,0,1,...,19.298875,0,False,False,False,True,False,False,False,True
2,46.0,1,126.0,216.0,0,0,0,29.855447,0,1,...,11.230926,0,True,False,True,False,True,False,True,False
3,32.0,0,122.0,293.0,1,1,0,24.130477,1,0,...,5.961958,0,False,False,True,False,False,False,False,False
4,60.0,1,166.0,242.0,1,1,1,20.486289,1,0,...,8.153887,0,True,False,True,False,False,False,False,False

In [61]:
df.sample(10)

,Age,Gender,Blood Pressure,Cholesterol Level,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,Low HDL Cholesterol,...,Homocysteine Level,Heart Disease Status,Exercise Habits_Low,Exercise Habits_Medium,Alcohol Consumption_Low,Alcohol Consumption_Medium,Stress Level_Low,Stress Level_Medium,Sugar Consumption_Low,Sugar Consumption_Medium
5271,30.0,0,127.0,247.0,0,1,0,34.901367,0,0,...,18.542217,0,False,True,True,False,False,True,False,False
2339,53.0,0,144.0,253.0,1,1,0,21.030990,0,1,...,11.623240,0,True,False,False,True,False,True,True,False
8810,42.0,0,120.0,185.0,1,0,0,20.340921,1,0,...,13.875515,1,False,False,False,False,False,True,False,True
9838,30.0,0,136.0,263.0,1,1,1,19.120737,1,1,...,14.006754,1,False,True,False,False,True,False,True,False
1248,35.0,1,123.0,233.0,0,0,0,20.977586,1,1,...,5.854531,0,False,True,False,False,False,True,False,False
9803,38.0,1,154.0,248.0,1,1,0,29.443940,0,1,...,8.719492,1,True,False,False,False,True,False,False,True
2555,57.0,0,131.0,245.0,1,1,0,22.480934,1,0,...,17.079878,0,False,True,False,True,False,False,False,True
9111,23.0,1,148.0,257.0,0,1,1,37.625168,1,1,...,9.566814,1,False,False,False,True,False,False,False,False
9794,61.0,1,139.0,203.0,1,0,0,29.232189,0,0,...,6.984491,1,False,True,True,False,True,False,True,False
3535,54.0,1,151.0,220.0,1,0,1,29.396143,0,1,...,16.184281,0,False,True,False,False,False,False,False,False